

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background:lightgrey;
    height: 50px; 
     
}

.leftNav {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;

}

.rightNav {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left:50% 
}

li {
    margin-right: 30px; 
}

@media only screen and (max-width: 500px) {
    .desktopOnly {
        display: none;
    }
}