.SideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    max-width: 70%;
    background: white;
    height: 100%;
    z-index: 200;
    transition: transform 0.5s ease-out;
    padding : 32px 16px;
    box-sizing: border-box;

}

.open {
    transform: translateX(0)
}

.closed {
    transform: translateX(-100%)
}



@media only screen and (min-width: 500px) {
    .SideBar {
        display: none;
    }
  }


  @media only screen and (max-width: 500px) {
    .SideBar ul {
        padding-left :0px; 
    }
  }